@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //background: #242020;
  background: #fba3a3;
  font-family: "Roboto", sans-serif;
}
